packaging_format = 2

id = "qbittorrent"
name = "qBittorrent"
description.en = "Bittorrent client that aims to be a good alternative to all other bittorrent clients."
description.fr = "Client bittorrent qui vise à être une bonne alternative à tous les autres clients bittorrent"

version = "4.2.5~ynh1"

maintainers = ["kay0u"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://www.qbittorrent.org"
admindoc = "https://github.com/qbittorrent/qBittorrent/wiki"
code = "https://github.com/qbittorrent/qBittorrent"
cpe = "cpe:2.3:a:qbittorrent:qbittorrent"

[integration]
yunohost = ">= 11.1.12"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/qbittorrent"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    main.protected = true
    main.allowed = "admins"

    [resources.ports]
    main.default = 30000

    [resources.apt]
    packages = "qbittorrent-nox"
